* {
    margin: 0;
    padding: 0;
}

#scene {
    width: 100vw;
    height: 56.25vw;
    position: relative;
    /* overflow: hidden; */
}

#baggrund {
    width: 100vw;
    height: 56.25vw;
    position: absolute;
    z-index: 1;
}


/** BAGGRUND START **/

.pige_room {
    background-image: url(assets/rooms/pige_room1.svg);
}

.dreng_room {
    background-image: url(assets/rooms/dreng_room.svg);
}

.startsite {
    background-image: url(assets/startside/startside1.svg);
}

.justin {
    position: absolute;
    background-image: url(assets/rooms/JB.jpg);
    background-size: 100%;
    z-index: 3;
    height: 19.85vw;
    width: 30vw;
}

#justin {
    top: 3vw;
    left: 9vw;
}


/** BAGGRUND SLUT **/


/** BAGGRUND SLUT **/


/** PIGE ANIMATION START **/


/*MICHALA*/

#pige_container {
    position: absolute;
    z-index: 3;
}

#pige_sprite {
    background-image: url(assets/pige_animation/pige_sprite_endelig.svg);
    background-size: 200% 300%;
}

.pige_startskaerm {
    top: 12%;
    left: 5%
}

.pige_start {
    width: 30vw;
    height: 38.1vw;
}

.pige_forside {
    width: 30vw;
    height: 38.1vw;
    animation-name: start_kf;
    animation-duration: 1s;
    /**animation-fill-mode:**/
    animation-iteration-count: infinite;
    animation-timing-function: steps(2);
}

@keyframes start_kf {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: -200% 0%;
    }
}

.pige_startposition {
    top: 15%;
    left: 40%;
}

.pige_noegen {
    background-position: 0 -100%;
    width: 35vw;
    height: 44.5vw;
}

.pige_tagerbillede {
    width: 35vw;
    height: 44.5vw;
    animation-name: tagerbillede_kf;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(2);
}

@keyframes tagerbillede_kf {
    0% {
        background-position: 0% -100%;
    }
    100% {
        background-position: -200% -100%;
    }
}


/** PIGE ANIMATION SLUT **/


/** DRENG ANIMATION START **/

#dreng_container {
    position: absolute;
    z-index: 3;
}

#dreng_sprite {
    position: absolute;
    background-image: url(assets/dreng_animation/Dreng_sprite-11.svg);
    background-size: 400% 400%;
}


/** DRENG PÅ VÆRELSE START **/

.dreng_vaerelse {
    top: 15%;
    left: 38%;
}

.dreng_startposition {
    top: 15%;
    left: 35%;
}

.dreng_noegen {
    background-position: 0 -100%;
}

.dreng_tagerbillede {
    width: 34.5vw;
    height: 44.0vw;
    animation-name: tagerbillede_kf;
    animation-duration: 1s;
    /**animation-fill-mode:**/
    animation-iteration-count: infinite;
    animation-timing-function: steps(2);
}

@keyframes tagerbillede_kf {
    0% {
        background-position: 0% -100%;
    }
    100% {
        background-position: -200% -100%;
    }
}


/** DRENG PÅ VÆRELSE SLUT **/


/** DRENG PÅ STARTSKÆRM START **/

.dreng_startposition1 {
    top: 12%;
    left: 54%;
}

.dreng_startanimation {
    width: 30vw;
    height: 38.2vw;
    animation-name: dreng_startanimation_kf;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(4);
}

@keyframes dreng_startanimation_kf {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -400% 0;
    }
}


/** DRENG ANIMATION SLUT **/


/**  PIGE SNAPCHAT ANIMATION START **/

#iphone_container {
    position: absolute;
    z-index: 3;
}

#iphone_sprite {
    background-image: url(assets/snapchat/Snapchat_animation_pige_endelig-01.svg);
    background-size: 400%;
}

.iphone_placering {
    top: 10%;
    left: 30vw;
}

.snapchat_send {
    width: 100vw;
    height: 56.22vw;
    animation-name: snap_sendes_kf;
    animation-duration: 5s;
    /**animation-fill-mode:**/
    animation-iteration-count: 1;
    animation-timing-function: steps(4);
}

@keyframes snap_sendes_kf {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: -400%;
    }
}


/** PIGE SNAPCHAT ANIMATION SLUT **/

/** DRENG SNAPCHAT ANIMATION **/
 #iphone_container {
    position: absolute;
    z-index: 3;
}

#iphone_sprite {
    background-image: url(assets/snapchat/Snapchat-animation_dreng.svg);
    background-size: 400%;
}

.iphone_placering {
    top: 10%;
    left: 30vw;
}

.snapchat_send {
    width: 100vw;
    height: 56.22vw;
    animation-name: snap_sendes_kf;
    animation-duration: 5s;
    /**animation-fill-mode:**/
     animation-iteration-count: 1;
    animation-timing-function: steps(4);
}

@keyframes snap_sendes_kf {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: -400%;
    }
}


/** DRENG SNAPCHAT ANIMATION SLUT **/

/** SPILLET STARTER **/

.tryk_start {
    background-image: url(assets/afslutning/tryk_start.svg);
}

.antal_delinger {
    background-image: url(assets/afslutning/antal_delinger.svg);
}

.vidste_du {
    background-image: url(assets/startside/vidste_du-01.svg);
}

.billede_delt {
    background-image: url(assets/startside/billede_delt-01.svg);
}

.spilside {
    background-image: url(assets/kort.png);
    background-size: 100%
}

.trykstartside {
    background-image: url(assets/afslutning/tryk_start.svg);
}

#spil {
    width: 90vw;
    height: 90vw;
    position: absolute;
    margin: auto 0;
}

.trykstart {
    position: absolute;
    width: 35vw;
    height: 18vw;
    left: 31%;
    top: 61%;
    z-index: 3;
}

#haander {
    width: 10vw;
    height: 8vw;
}

.haandVis {
    background-image: url(assets/Asset%201@0.5x.png);
    position: absolute;
    z-index: 4;
    background-size: 600%;
    position: absolute;
    top: 20%;
    left: 20%;
    width: 7vw;
    height: 10vw;
}

.haand1 {
    background-position: 0%;
}

.haand2 {
    background-position: -100%;
}

.haand3 {
    background-position: -200%;
}

.haand4 {
    background-position: -300%;
}

.haand5 {
    background-position: -400%;
}

.haand6 {
    background-position: -500%;
}

.haand_kopi {
    background-image: url(assets/delinger/nude1.png);
    position: absolute;
    z-index: 4;
    background-size: 100%;
    position: absolute;
    width: 10vw;
    height: 8vw;
}


/** SPILLET SLUT **/
