* {
    margin: 0;
    padding: 0;
}

#scene {
    width: 100vw;
    height: 56.25vw;
    position: relative;
    overflow: hidden;
}

#baggrund {
    width: 100vw;
    height: 56.25vw;
    position: absolute;
    z-index: 2;
}

.startsite {
    background-image: url(assets/startside/startside.svg);
}

.dreng_room {
    background-image: url(assets/rooms/dreng_room.svg);
}

.pige_room {
    background-image: url(assets/rooms/pige_room.svg)
}

.vidste_du {
    background-image: url(assets/startside/vidste_du-01.svg);
}

.billede_delt {
    background-image: url(assets/startside/billede_delt-01.svg);
}
