* {
    margin: 0;
    padding: 0;
}

#scene {
    width: 100vw;
    height: 56.25vw;
    position: relative;
    overflow: hidden;
}

#baggrund {
    width: 100vw;
    height: 56.25vw;
    position: absolute;
    z-index: 2;
}

.startsite {
    background-image: url(assets/startside/startside.svg);
}

.dreng_vaerelse {
    background-image: url(assets/V%25C3%25A6relser/dreng_v%C3%A6relse.svg);
}
